{"openapi":"3.1.0","info":{"title":"Mirabello Consultancy — Investment Migration API","version":"1.1.0","description":"Read-only REST mirror of the Mirabello MCP server: CBI/RBI programmes, cost estimates, and passport mobility. Indicative data; not legal/financial advice. © Mirabello Consultancy Ltd.","contact":{"name":"Mirabello Consultancy","url":"https://www.mirabelloconsultancy.com","email":"mail@mirabelloconsultancy.com"},"x-mcp-endpoint":"https://mcp.mirabelloconsultancy.com/"},"servers":[{"url":"https://mcp.mirabelloconsultancy.com/v1"}],"paths":{"/programmes":{"get":{"operationId":"listProgrammes","summary":"List CBI/RBI programmes (filterable).","parameters":[{"name":"type","in":"query","schema":{"type":"string","enum":["CBI","RBI"]}},{"name":"budget_max","in":"query","schema":{"type":"number"}},{"name":"region","in":"query","schema":{"type":"string"}},{"name":"max_processing_months","in":"query","schema":{"type":"number"}}],"responses":{"200":{"description":"Matching programmes"}}}},"/programmes/{id}":{"get":{"operationId":"getProgramme","summary":"Full detail for one programme.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Programme detail"}}}},"/programmes/{id}/cost":{"get":{"operationId":"estimateTotalCost","summary":"Estimate total cost for a family.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"adults","in":"query","schema":{"type":"number"}},{"name":"children_16plus","in":"query","schema":{"type":"number"}},{"name":"children_under16","in":"query","schema":{"type":"number"}}],"responses":{"200":{"description":"Indicative cost estimate"}}}},"/programmes/{id}/visa-free":{"get":{"operationId":"checkVisaFree","summary":"Passport mobility for a programme.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Mobility detail"}}}},"/processing-times":{"get":{"operationId":"getProcessingTimes","summary":"Processing-time estimates.","parameters":[{"name":"id","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Processing times"}}}},"/recommend":{"get":{"operationId":"recommendProgrammes","summary":"Ranked shortlist for a client profile.","parameters":[{"name":"type","in":"query","schema":{"type":"string","enum":["CBI","RBI"]}},{"name":"budget_max","in":"query","schema":{"type":"number"}},{"name":"family_size","in":"query","schema":{"type":"number"}},{"name":"mobility_priority","in":"query","schema":{"type":"boolean"}},{"name":"timeline_max_months","in":"query","schema":{"type":"number"}},{"name":"tax_goal","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Ranked shortlist"}}}},"/compare":{"get":{"operationId":"compareProgrammes","summary":"Compare programmes. Pass a + b (two programme ids) for the canonical versioned comparison artefact from the Mirabello Investment Migration Index (rank, composite, dimension scores, per-dimension deltas, per-metric leads a|b|tie, human compare page URL where one exists). Or pass ids (comma-separated, 2-4) for the classic side-by-side comparison. Comparative facts only, no recommendation.","parameters":[{"name":"a","in":"query","required":false,"description":"programme id (use with b) for the canonical two-programme artefact","schema":{"type":"string"}},{"name":"b","in":"query","required":false,"description":"programme id (use with a)","schema":{"type":"string"}},{"name":"ids","in":"query","required":false,"description":"comma-separated programme ids (classic comparison)","schema":{"type":"string"}}],"responses":{"200":{"description":"Comparison artefact (a+b) or side-by-side comparison (ids)"},"400":{"description":"Unknown or identical programme ids; the response includes valid_ids_reference (/v1/index)"}}}},"/plan-path":{"get":{"operationId":"planPath","summary":"The Mirabello Freedom Compass — ORIGIN-AWARE path planner. Given the person's current citizenship(s) + goal, returns ranked end-to-end routes with the mobility delta over their existing passport, eligibility, multi-leg steps, and a CITATION-FIRST provenance block per route (verified_date, confidence, official source_url, source_tier) plus a top-level verification summary. Informational only.","parameters":[{"name":"from_citizenship","in":"query","required":true,"description":"ISO alpha-2 code(s), comma-separated, e.g. IN or US,GB","schema":{"type":"string"}},{"name":"from_tax_residence","in":"query","description":"ISO alpha-2","schema":{"type":"string"}},{"name":"goal","in":"query","schema":{"type":"string","enum":["mobility","plan_b","tax","business","family","education","succession","diversification","unsure"]}},{"name":"budget_usd","in":"query","description":"Approximate investment budget in USD — treated as a ±15% band (routes within ~15% above or below are the cost sweet-spot; cheaper still shown, far-over penalised).","schema":{"type":"number"}},{"name":"timeline_months","in":"query","schema":{"type":"number"}}],"responses":{"200":{"description":"Ranked origin-aware routes, each with a provenance block (verified_date, confidence, source_url, source_tier, status), plus a verification summary. Call /provenance for full W3C-PROV citations."}}}},"/index":{"get":{"operationId":"getIndex","summary":"The Mirabello Investment Migration Index — composite ranking of CBI/RBI programmes with transparent methodology.","responses":{"200":{"description":"Index rankings + methodology"}}}},"/passport-renewal":{"get":{"operationId":"getPassportRenewal","summary":"CBI passport-renewal artefact for a programme country (St Kitts & Nevis, Antigua & Barbuda, Dominica, Grenada, St Lucia, Vanuatu): official government renewal fees (currency-primary EC$/GBP/VT + USD approx, adult/child/lost-stolen), passport validity (adult/child years), typical processing, remote-renewal capability (Vanuatu is in-person biometric), biometric status, ECCIRA status (postponed to mid-2026, existing rules in force), biometric/ECCIRA deadlines, official source URLs, last_verified and the Mirabello /passport-renewal page. Omit country for all six (the overview artefact). Information only, not advice.","parameters":[{"name":"country","in":"query","required":false,"description":"programme id (e.g. st-kitts-cbi, st-lucia-cbi) or country alias; omit for all six","schema":{"type":"string"}}],"responses":{"200":{"description":"Renewal artefact for one country, or the six-country overview when country is omitted"},"400":{"description":"Unknown country id; the response includes valid_ids (the six programme ids)"}}}},"/status":{"get":{"operationId":"status","summary":"Data freshness + version (poll for updates).","responses":{"200":{"description":"Freshness metadata"}}}},"/book":{"post":{"operationId":"bookConsultation","summary":"Book a free consultation (requires email + explicit GDPR consent).","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email"],"properties":{"salutation":{"type":"string","enum":["Mr.","Ms.","Mrs.","Sheikh","Prof.","Dr."]},"name":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"preferred_channel":{"type":"string","enum":["email","phone","whatsapp","telegram","wechat"]},"programme_interest":{"type":"string"},"goal":{"type":"string"},"budget":{"type":"string"},"timeline":{"type":"string"},"nationality":{"type":"string"},"residence_country":{"type":"string"},"marital_status":{"type":"string","enum":["Yes","No"]},"number_of_children":{"type":"number"},"childrens_ages":{"type":"string"},"family_size":{"type":"string"},"message":{"type":"string"},"consent":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Received or consent_required"}}}},"/briefing":{"post":{"operationId":"generateBriefing","summary":"Generate a personalised programme briefing: profile in, ranked shortlist with family cost math + shareable 90-day briefing URL out. Optional email+consent registers specialist follow-up.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"nationality":{"type":"string"},"type":{"type":"string","enum":["CBI","RBI"]},"budget_max":{"type":"number"},"adults":{"type":"number"},"children_16plus":{"type":"number"},"children_under16":{"type":"number"},"mobility_priority":{"type":"boolean"},"timeline_max_months":{"type":"number"},"tax_goal":{"type":"boolean"},"goal":{"type":"string"},"programme_ids":{"type":"array","items":{"type":"string"}},"email":{"type":"string"},"consent":{"type":"boolean"}}}}}},"responses":{"200":{"description":"briefing_url + structured shortlist"}}}}}}