{"openapi":"3.1.0","info":{"title":"Mirabello Consultancy — Investment Migration API","version":"1.0.0","description":"Read-only REST mirror of the Mirabello MCP server: CBI/RBI programmes, cost estimates, and passport mobility. Indicative data; not legal/financial advice. © Mirabello Consultancy Ltd.","contact":{"name":"Mirabello Consultancy","url":"https://www.mirabelloconsultancy.com","email":"mail@mirabelloconsultancy.com"},"x-mcp-endpoint":"https://mcp.mirabelloconsultancy.com/"},"servers":[{"url":"https://mcp.mirabelloconsultancy.com/v1"}],"paths":{"/programmes":{"get":{"operationId":"listProgrammes","summary":"List CBI/RBI programmes (filterable).","parameters":[{"name":"type","in":"query","schema":{"type":"string","enum":["CBI","RBI"]}},{"name":"budget_max","in":"query","schema":{"type":"number"}},{"name":"region","in":"query","schema":{"type":"string"}},{"name":"max_processing_months","in":"query","schema":{"type":"number"}}],"responses":{"200":{"description":"Matching programmes"}}}},"/programmes/{id}":{"get":{"operationId":"getProgramme","summary":"Full detail for one programme.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Programme detail"}}}},"/programmes/{id}/cost":{"get":{"operationId":"estimateTotalCost","summary":"Estimate total cost for a family.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"adults","in":"query","schema":{"type":"number"}},{"name":"children_16plus","in":"query","schema":{"type":"number"}},{"name":"children_under16","in":"query","schema":{"type":"number"}}],"responses":{"200":{"description":"Indicative cost estimate"}}}},"/programmes/{id}/visa-free":{"get":{"operationId":"checkVisaFree","summary":"Passport mobility for a programme.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Mobility detail"}}}},"/processing-times":{"get":{"operationId":"getProcessingTimes","summary":"Processing-time estimates.","parameters":[{"name":"id","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Processing times"}}}},"/recommend":{"get":{"operationId":"recommendProgrammes","summary":"Ranked shortlist for a client profile.","parameters":[{"name":"type","in":"query","schema":{"type":"string","enum":["CBI","RBI"]}},{"name":"budget_max","in":"query","schema":{"type":"number"}},{"name":"family_size","in":"query","schema":{"type":"number"}},{"name":"mobility_priority","in":"query","schema":{"type":"boolean"}},{"name":"timeline_max_months","in":"query","schema":{"type":"number"}},{"name":"tax_goal","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Ranked shortlist"}}}},"/compare":{"get":{"operationId":"compareProgrammes","summary":"Compare 2–4 programmes.","parameters":[{"name":"ids","in":"query","required":true,"description":"comma-separated programme ids","schema":{"type":"string"}}],"responses":{"200":{"description":"Side-by-side comparison"}}}},"/status":{"get":{"operationId":"status","summary":"Data freshness + version (poll for updates).","responses":{"200":{"description":"Freshness metadata"}}}},"/book":{"post":{"operationId":"bookConsultation","summary":"Book a free consultation (requires email + explicit GDPR consent).","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email"],"properties":{"name":{"type":"string"},"email":{"type":"string"},"programme_interest":{"type":"string"},"message":{"type":"string"},"consent":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Received or consent_required"}}}}}}